html {
  box-sizing: border-box;
  background-color: #eee9de;
  font-family: Lato, sans-serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

section {
  margin: 1rem;
}

img {
  display: block;
  width: 100%;
  max-width: 25em;
  padding: 2em 0;
  vertical-align: middle;
}

h2 {
  display: block;
  text-align: left;
  margin: 0;
  font-weight: bold;
}

p {
  display: block;
  max-width: 25em;
  text-align: left;
  padding: 1.5em 0;
  margin: 0;
}

.btn {
  text-align: center;
  display: inline-block;
  color: #333;
  background-color: #eee9de;
  margin: 0 0 2em;
  padding: .6em .95em .6em;
  border-radius: 8px;
  border: 3px solid #333;
  text-decoration: none;
}

a:hover {
  background-color: #666;
  color: #fff;
  border: 3px solid #666;
}
