html {
  box-sizing: border-box;
  background-color: #eee9de;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-family: "Lato", sans-serif;
}

img {
  display: block;
  margin: 0 auto 1rem;
}

a{
  background-color: #eee9de;
  border-color: #333;
}

a:hover {
  background-color: #666;
  color: #fff;
